{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
            <div class="subforum">
                <div class="subforum-title">
                    <div>
                        <h1>Topics</h1>
                    </div>
                    <a class="add-button" href="{% url 'addtopic' %}">Add topic</a>
                </div>
                {% for topic in topics %}
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        {% comment %} <img src="{% static 'topic-default.png' %}" width="120" height="65"> {% endcomment %}
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="{{topic.get_url}}">{{topic.title|title}}</a></h4>
                        <p>{{topic.description}}</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>{{topic.treds}} Treds</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        {% if topic.last_tred %}
                            <b>Last tred:</b>
                            <b><a href="{{topic.last_tred.get_url}}">{{topic.last_tred.title|title}}</a></b> by <a href="{{topic.last_tred.author.get_url}}">{{topic.last_tred.author|title}}</a>
                            <br>on <small>{{topic.last_tred.date|date}}</small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock content %}