{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <a href="{% url 'home' %}"> Apidopia forum </a> >> Search results for {{query}}: {{treds|length}} Tred(s) found
            <div class="add-tred-button">
                <a href="{% url 'addtred' %}"> Add tred </a>
            </div>
        </div>
        <!--Display posts table-->
        <div class="subforum">
            <div class="subforum-title">
                <div>
                    <h1>Treds</h1>
                </div>
            </div>
            {% for tred in treds %}
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <div class="status"><i class="fa fa-fire"></i></div>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="{{tred.get_url}}">{{tred.title|title}}</a></h4>
                    <p>{{tred.description}}</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>{{tred.num_comments}} Comments</span>
                </div>
                <div class="subforum-info subforum-column">
                    {% if tred.last_comment %}
                        <b>Last comment:</b>
                        <b></b> by <a href="{{tred.last_comment.author.get_url}}">{{tred.last_comment.author.name|title}}</a>
                        <br>on <small>{{tred.last_comment.date|date}}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}