{% extends 'index.html' %}
{% block content %}
    <div class="container">
            <div class="subforum">
                <div class="subforum-title">
                    <h1>Topics</h1>
                </div>
                {% for topic in topics %}
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="{{topic.get_url}}">{{ topic.title }}</a></h4>
                        <p>{{topic.description}}</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>{{topic.num_treds}} Treds</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="{{topic.last_tred.get_url}}">{{topic.last_tred.title|title}}</a></b> by <a href="">{{topic.last_tred.author.full_name|title}}</a>
                        <br>on <small>{{topic.last_tred.date|date}}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock content %}