{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <a href="{% url 'home' %}"> Apidopia forum </a> >> <a href="">{{topic.title|title}}</a>
            <div class="add-tred-button">
                <a href="{% url 'addtred' %}"> Add tred </a>
            </div>
        </div>
        <!--Display posts table-->
        {% comment %} <div class="posts-table">
            <div class="table-head">
                <div class="status">Tred</div>
                <div class="subjects">Subject</div>
                <div class="last-reply">Last Comment</div>
            </div>
            {% for tred in treds %}
            <div class="table-row">
              <div class="status"><i class="fa fa-fire"></i></div>
                <div class="subjects">
                    <a href="{{tred.get_url}}">{{tred.title|title}}</a>
                    <br>
                    <span>Started by <b><a href="{{tred.author.get_url}}">{{tred.author.name|title}}</a></b> .</span>
                </div>
                <div class="last-reply">
                    {{tred.last_comment.date|date}}
                    <br>By <b><a href="{{tred.last_comment.author.get_url}}">{{tred.last_comment.author.name|title}}</a></b>
                </div>
            </div>
            {% endfor %}
        </div> {% endcomment %}
            <div class="subforum">
                <div class="subforum-title">
                    <div>
                        <h1>Treds</h1>
                    </div>
                </div>
                {% for tred in treds %}
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <div class="status"><i class="fa fa-fire"></i></div>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="{{tred.get_url}}">{{tred.title|title}}</a></h4>
                        <p>{{tred.description}}</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>{{tred.num_comments}} Comments</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        {% if tred.last_comment %}
                            <b>Last comment:</b>
                            <b></b> by <a href="{{tred.last_comment.author.get_url}}">{{tred.last_comment.author.name|title}}</a>
                            <br>on <small>{{tred.last_comment.date|date}}</small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock content %}